@model FlowerInventory.Models.Flower
<h2>Are you sure you want to delete @Model.Name?</h2>
<form method="post">
    <button type="submit">Yes, delete</button>
    <a href="@Url.Action("Index")">Cancel</a>
</form>
